.fullscreen {
	position:absolute;
	top:0;
	left:0;
	z-index:11;
	width:100%;
	height:100%;	
}

.fundoIni {
	/*background-image: url("../img_sys/imagem_fundo2.jpg");*/
	background-image: url("../img_sys/iracema_2016-3.jpg");
	background-attachment: fixed;
	background-size: 100%;

}

.fundoIni2{
	background:url("../img_sys/iracema_2016-3.jpg") no-repeat; 
	min-width:100%;
	background-size: cover;
}

.caixaLogin {
	margin-top: 15%;
	opacity: 0.9;
}

.cimaLogin {
	background-color: #D3D3D3;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px; 
}

.centroLogin {
	//background-color: gray;
	background-image: url("../img_sys/imagem_login.jpg");
	background-position: center;
	padding: 20px 7px 10px 7px;
}

.baixoLogin {
	background-color: #D3D3D3;
	padding: 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.box {
	background-color: #20B2AA;
	margin-left: 25px;
	padding: 10px;
	border-radius: 3px;
	color: white;
	width: 30%;
	display: inline-table;
	min-height: 175px;
	margin-top: 20px;
}

@media (max-width: 850px) 
{
  .box 
   {
    background-color: #20B2AA;
	margin: auto;
	margin-top: 20px;
	padding: 10px;
	border-radius: 3px;
	color: white;
	width: 80%;
	display: block;
	min-height: 175px;
   }
}

.box-title {
	float: left;
}

.box-time {
	float: right;
}

.box-body {
	clear: both;
	padding-right: 15px;
	padding-left: 15px;
}

.box-autor {
	clear: both;
	display: block;
	text-align: right;
}

.box-link {
	color: white;
}

.box-link:hover{
	color:#191970;
}

.btnSize1 {
	width: 140px; 
	height: 40px;
}

.b2 {
	min-height: 200px;
}

.b3 {
	min-height: 125px;
}


/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.pulse-grow {
  /*display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;*/

  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
/*
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
*/

.tableWidth {
	width: 12,5%;
}

.btnSize3 {
	width: 80px; 
	height: 40px;
}